default:
  api_host: 'https://example.com/api'
  api_key: 'xxxxxxxx'
  api_version: '1'
  processing_directory: '/path/to/processing'
  ingest_directory: '/path/to/ingest'
  rsync_command: '/usr/bin/rsync'
  rsync_options: '-avPOK'
