<?xml version="1.0" encoding="UTF-8"?> 
<METS:mets xmlns:METS="http://www.loc.gov/METS/" 
           xmlns:daitss="http://www.fcla.edu/dls/md/daitss/" 
           xmlns:dc="http://purl.org/dc/elements/1.1/" 
           xmlns:mods="http://www.loc.gov/mods/v3" 
           xmlns:palmm="http://www.fcla.edu/dls/md/palmm/" 
           xmlns:rightsmd="http://www.fcla.edu/dls/md/rightsmd/" 
           xmlns:techmd="http://www.fcla.edu/dls/md/techmd/" 
           xmlns:xlink="http://www.w3.org/1999/xlink" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 

           OBJID="{{package_id}}"
           xsi:schemaLocation="http://www.loc.gov/METS/
             http://www.loc.gov/standards/mets/version14/mets.xsd http://purl.org/dc/elements/1.1/ http://dublincore.org/schemas/xmls/simpledc20021212.xsd
             http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-0.xsd http://www.fcla.edu/dls/md/techmd/ http://www.fcla.edu/dls/md/techmd.xsd http://www.fcla.edu/dls/md/palmm/ http://www.fcla.edu/dls/md/palmm.xsd http://www.fcla.edu/dls/md/rightsmd/ http://www.fcla.edu/dls/md/rightsmd.xsd http://www.fcla.edu/dls/md/daitss/ http://www.fcla.edu/dls/md/daitss/daitss.xsd"> 
            
  <METS:metsHdr CREATEDATE="{{create_date}}" ID="{{package_id}}" LASTMODDATE="{{create_date}}" RECORDSTATUS="NEW"> 
  </METS:metsHdr> 

  <METS:dmdSec ID="DMD1">
    <METS:mdWrap LABEL="Simple Dublin Core" MIMETYPE="text/xml" MDTYPE="DC">
      <METS:xmlData>
        <dc:title>{{package_title}}</dc:title>
      </METS:xmlData>
    </METS:mdWrap>
  </METS:dmdSec>
  
  <METS:amdSec>
    <METS:digiprovMD ID="DPMD1">
      <METS:mdWrap MDTYPE="OTHER" OTHERMDTYPE="DAITSS">
        <METS:xmlData>
          <daitss:daitss>
            <daitss:AGREEMENT_INFO ACCOUNT="{{account}}" PROJECT="{{project}}"/>
          </daitss:daitss>
        </METS:xmlData>
      </METS:mdWrap>
    </METS:digiprovMD>
  </METS:amdSec>

  <METS:fileSec>
    <METS:fileGrp ID="DATA">
    {{#data_files}}
      <METS:file ID="{{file_id}}" SIZE="{{size}}" CHECKSUM="{{checksum}}" CHECKSUMTYPE="MD5">
        <METS:FLocat LOCTYPE="OTHER" OTHERLOCTYPE="SYSTEM" xlink:href="{{path}}" />
      </METS:file>
    {{/data_files}}
    </METS:fileGrp>
    <METS:fileGrp ID="BAGIT">
    {{#bagit_files}}
      <METS:file ID="{{file_id}}" SIZE="{{size}}" CHECKSUM="{{checksum}}" CHECKSUMTYPE="MD5">
        <METS:FLocat LOCTYPE="OTHER" OTHERLOCTYPE="SYSTEM" xlink:href="{{path}}" />
      </METS:file>
    {{/bagit_files}}
    </METS:fileGrp>
  </METS:fileSec>

  <METS:structMap>
    <METS:div DMDID="DMD1">
      <METS:div LABEL="data files">
      {{#data_files}}
        <METS:fptr FILEID="{{file_id}}" />
      {{/data_files}}
      </METS:div>
      <METS:div LABEL="BagIt files">
      {{#bagit_files}}
        <METS:fptr FILEID="{{file_id}}" />
      {{/bagit_files}}
      </METS:div>
    </METS:div>
  </METS:structMap>
</METS:mets>
